# Automatically activate nix dev shell when entering directory
# Requires direnv to be installed and hooked into your shell
#
# Setup (one-time):
#   1. Install direnv: nix-env -iA nixpkgs.direnv
#   2. Hook into shell (add to ~/.zshrc): eval "$(direnv hook zsh)"
#   3. Allow this directory: direnv allow
#
# After setup, entering this directory will automatically:
#   - Activate the nix flake dev shell
#   - Set up Python environment
#   - Make all dev tools available

use flake
