[submodule ".external/fastmcp"]
	path = .external/fastmcp
	url = https://github.com/jlowin/fastmcp.git
[submodule "examples/finquant-mcp"]
	path = examples/finquant-mcp
	url = https://github.com/l4b4r4b4b4/finquant-mcp
[submodule "examples/BundesMCP"]
	path = examples/BundesMCP
	url = https://github.com/l4b4r4b4b4/BundesMCP
