[submodule "examples/finquant-mcp"]
	path = examples/finquant-mcp
	url = https://github.com/l4b4r4b4b4/finquant-mcp
[submodule "examples/BundesMCP"]
	path = examples/BundesMCP
	url = https://github.com/l4b4r4b4b4/BundesMCP
[submodule "examples/fastmcp-template"]
	path = examples/fastmcp-template
	url = git@github.com:l4b4r4b4b4/fastmcp-template.git
[submodule "examples/ifc-mcp"]
	path = examples/ifc-mcp
	url = git@github.com:AIS-AI-Team/ifc-mcp.git
[submodule "examples/portfolio-mcp"]
	path = examples/portfolio-mcp
	url = https://github.com/l4b4r4b4b4/portfolio-mcp.git
